@import url("https://fonts.googleapis.com/css?family=Chicle");

.App {
  text-align: center;
  font-family: 'Chicle', cursive;
  color: darkblue;
}

body {
  background: url('http://66.media.tumblr.com/0e71684cee1b7de783416031f8fee9b7/tumblr_ns84oboJC41u6exjio4_1280.png');
  background-repeat: none;
  background-size: cover;
}

.drum-pad {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  border: 2px solid darkblue;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkblue;
  box-shadow: 2px 2px 2px darkblue;
}

.drum-pad:hover {
  cursor: pointer;
  box-shadow: 7px 7px 2px darkblue;
  background-color: whitesmoke;
}

.drum-pad:active {
  background-color: rgb(26, 89, 100);
}

.active {
  background-color: whitesmoke;
  box-shadow: 7px 7px 30px darkblue;
}

.inner-container {
  font-size: 30px;
}

.pad-array {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

#display {
  font-weight: bold;
  font-size: 60px;
}

@media(min-width: 500px) {
  .pad-array {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .drum-pad {
    width: 150px;
    height: 150px;
  }
}

@media(min-width: 768px) {
  body {
    background: url('https://www.ppt-backgrounds.net/thumbs/ocean-desktop-template-presentation-backgrounds.jpg');
    background-repeat: none;
    background-size: cover;
  }

  .pad-array {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .drum-pad {
    width: 200px;
    height: 200px;
    font-size: 50px;
    margin-bottom: 40px;
  }
}









